<div class="wrapper">
  <h3 class="underlineHover mb-4 text-info p-3 pl-4 pr-4 shadow-lg border-0" style="cursor: pointer;border-radius: 25px;"
    routerLink="/login" routerLinkActive="active">For Users, Click Here. </h3>
  <div id="formContent" class="p-3 m-3 pt-4" style="border-radius: 25px;">
    <h2 class="underlineHover" style="font-size: 1.6rem; cursor: pointer;"  routerLink="/logincmp"  routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover" style="cursor: pointer;font-size: 1.6rem;" routerLink="/signupcmp"  routerLinkActive="active">Sign Up</h2>
    <router-outlet></router-outlet>
  </div>
</div>
