
<div class="wrapper">
  <h3 class="underlineHover mb-4 text-info p-3 pl-4 pr-4 shadow-lg border-0" style="cursor: pointer;border-radius: 25px;"
  routerLink="/logincmp" routerLinkActive="active">For Company, Click Here. </h3>
  <div id="formContent" style="border-radius: 25px;" class="p-3 pt-5">
    <h2 class="underlineHover" style="cursor: pointer;"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover" style="cursor: pointer;" routerLink="/signup"  routerLinkActive="active">Sign Up </h2>
    <router-outlet></router-outlet>
  </div>
</div>
